<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% include 'header_nav_bar.html' %}
        <table cellpadding="20">
            <tr>
                <td valign="top">
                     <h1>Admin: Add a Game</h1>
                    <form action="/admin/create_new_game" method="post">
                        <label for="Team_Name">Home Team</label>
                        <select name="teamID" id="teamID">
                            <option value="BEL">Belgium</option>
                            <option value="ENG">England</option>
                            <option value="GER">Germany</option>
                            <option value="ITA">Italy</option>
                            <option value="ESP">Spain</option>
                        </select><br>
                        <input type="submit" value="Save Team Name" />
                    </form>
                </td>
                <td>
                    <h1>List of Current Teams</h1>
                    <table>
                        {% for team in ListofTeams %}
                        <tr>
                            <td>{{team.name}}</td>
                            <td><a href="">edit</a></td>
                            <td><a href="">remove</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        
        {% include 'footer_nav_bar.html' %}
    </body>
</html>

