<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Team</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% include 'header_nav_bar.html' %}
     <table width="100%" bgcolor="#FFD700" cellpadding="15" border="0">
        <tr>
         <td align="center">
             <b>New features for Admin section! Use the navigation menu on the left to add venues and stadiums to the web site.</b>
         </td>
         </tr>
    </table>

        <table cellpadding="20">
            <tr>
                <td valign="top">
                     <h1>Admin: Add a Team</h1>
                    <form action="/admin/create_new_team" method="post">
                        <label for="Team_Name">Enter a team name</label>
                        <input type="text" name="Team_Name" placeholder="Enter team name here" /><br>
                        <label for="countryID">Select a country</label>
                        <select name="countryID" id="countryID">
                            <option value="BEL">Belgium</option>
                            <option value="CYP">Cyprus</option>
                            <option value="ENG">England</option>
                            <option value="FRA">France</option>
                            <option value="GER">Germany</option>
                            <option value="ITA">Italy</option>
                            <option value="ESP">Spain</option>
                            <option value="TUR">Turkey</option>
                        </select><br>
                        <input type="submit" value="Save Team Name" />
                    </form>
                </td>
                <td>
                    <h1>List of Current Teams</h1>
                    <table>
                        {% for team in ListofTeams %}
                        <tr>
                            <td>{{team.name}}</td>
                            <td><a href="">edit</a></td>
                            <td><a href="">remove</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        
        {% include 'footer_nav_bar.html' %}
    </body>
</html>