<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% include 'header_nav_bar.html' %}
     <table width="100%" bgcolor="#FFD700" cellpadding="15" border="0">
        <tr>
         <td align="center">
             <b>New features for Admin section! Use the navigation menu on the left to add venues and stadiums to the web site.</b>
         </td>
         </tr>
    </table>

        <table cellpadding="20">
            <tr>
                <td valign="top">
                     <h1>Admin: Add a Game</h1>
                    <form action="/admin/create_new_game" method="post">
                        <label for="Team_Name">Home Team</label>
                        <select name="home_teamID" id="home_teamID">
                             {% for team in ListofTeams %}
                            <option value="{{team.id}}">{{team.name}}</option>
                            {% endfor %}
                        </select><br>
                        <label for="Team_Name">Away Team</label>
                        <select name="away_teamID" id="away_teamID">
                             {% for team in ListofTeams %}
                            <option value="{{team.id}}">{{team.name}}</option>
                            {% endfor %}
                        </select><br>
                        <label for="Team_Name">Venue</label>
                        <select name="venueID" id="venueID">
                             {% for venue in ListofVenues %}
                            <option value="{{venue.id}}">{{venue.name}}, {{venue.city}}</option>
                            {% endfor %}
                        </select><br>
                        <label for="Game_label">Type of Game</label>
                        <select name="game_label" id="game_label">
                            <option value="League phase - Matchday 1">League phase - Matchday 1</option>
                            <option value="League phase - Matchday 2">League phase - Matchday 2</option>
                            <option value="League phase - Matchday 3">League phase - Matchday 3</option>
                            <option value="League phase - Matchday 4">League phase - Matchday 4</option>
                            <option value="League phase - Matchday 5">League phase - Matchday 5</option>
                            <option value="League phase - Matchday 6">League phase - Matchday 6</option>
                            <option value="League phase - Matchday 7">League phase - Matchday 7</option>
                            <option value="League phase - Matchday 8">League phase - Matchday 8</option>
                            <option value="KO play-offs - 1st leg">KO play-offs - 1st leg</option>
                            <option value="KO play-offs - 2nd leg">KO play-offs - 2nd leg</option>
                            <option value="Round of 16 - 1st leg">Round of 16 - 1st leg</option>
                            <option value="Round of 16 - 2nd leg">Round of 16 - 2nd leg</option>
                            <option value="Quarter-finals - 1st leg">Quarter-finals - 1st leg</option>
                            <option value="Quarter-finals - 2nd leg">Quarter-finals - 2nd leg</option>
                        </select><br>
                        <label for="Game_status">Status</label>
                        <select name="game_status" id="game_status">
                            <option value="scheduled">Scheduled</option>
                            <option value="completed">Completed</option>
                        </select><br>
                        <label for="Game_date">Local Date/Time of Game</label>
                        <input type="datetime-local" id="game_datetime" name="game_datetime"><br>
                        <input type="submit" value="Save Game Info" />
                    </form>
                </td>
                <td>
                    <h1>List of Current games</h1>
                    <table>
                        {% for game in ListofGames %}
                        <tr>
                            <td>{{ game.game_label }} {{ game.home_team }} vs. {{ game.away_team }}</td>
                            <td><a href="">edit</a></td>
                            <td><a href="">remove</a></td>
                        </tr>
                         {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        
        {% include 'footer_nav_bar.html' %}
    </body>
</html>

