        <div class="container">
        <div class="nav">
            <h3>All Users</h3>
            <ul>
                <li><a href="/">List of all upcoming games</a></li>
                <li><a href="/games">List all games</a></li>
                <li><a href="/teams">List of all teams</a></li>
            </ul>
            <h3>Admin</h3>
            <ul>
                <li><a href="/admin/add_team">Manage Teams</a></li>
                <li><a href="/admin/add_game">Manage Games</a></li>
                <li><a href="/admin/add_venue">Manage Venues</a></li>
            </ul>

        </div>
        
        <div class="content">