<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UEFA Match Day Center</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% include 'header_nav_bar.html' %}
        <h1>Welcome to the UEFA Champions League Match Day Information Portal</h1>
        <p>This interactive "Match Day Center" provides soccer fans with information on the individual games for the 2025-2026 European Champions League games. The details included in the Match Day Center will include weather forecast, teams playing, location, date and time, etc.</p>
        <h1 align="center">Upcoming Games</h1>
        <table align="center">
            {% for game in games %}
            <tr>
                <td align="center">{{ game.datetime }}</td>
                <td rowspan="6" align="center"><a href="">
                    <span style="font-size: 25px;">&#9917;</span>
                    <br>Match Details</a></td>
            </tr>
            <tr>
                <td align="center">
                    <img src="{{ url_for('static', filename='images/team_icons/' + game.home_team_id|string + '.png') }}" alt="{{ game.home_team }} team logo" style="vertical-align: middle;" width="30" height="30">
                    {{ game.home_team }} 
                    vs. 
                    <img src="{{ url_for('static', filename='images/team_icons/' + game.away_team_id|string + '.png') }}" alt="{{ game.away_team }} team logo" style="vertical-align: middle;" width="30" height="30">
                    {{ game.away_team }}
                </td>
            </tr>
            <tr>
                <td align="Center">{{ game.venue }}. {{ game.city }}, {{ game.country }}</td>
            </tr>
            <tr>
                <td align="Center">{{ game.game_label }}</td>
            </tr>
            <tr>
                <td align="Center">Weather placeholder: 70 &deg;F &#9926;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
        </table>
       {% include 'footer_nav_bar.html' %}
 
    </body>
</html>