<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Upcoming Games</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    {% include 'header_nav_bar.html' %}
    <h1>All Games</h1>
        <table>
            {% for game in games %}
            <tr>
                <td align="center">{{ game.datetime }}</td>
            </tr>
            <tr>
                <td align="center">{{ game.home_team }} vs. {{ game.away_team }}</td>
            </tr>
            <tr>
                <td align="Center">{{ game.venue }}. {{ game.city }}, {{ game.country }}</td>
            </tr>
            <tr>
                <td align="Center">{{ game.game_label }}<br>
                <a href="/match_details?id={{game.id}}">Match Details</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
        </table>        
       {% include 'footer_nav_bar.html' %}
 
    </body>
</html>