<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UEFA Match Day Center</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% include 'header_nav_bar.html' %}

        <h1>Game Information</h1>
        <p>{{ match.game_label }}</p>
        <p>{{ match.datetime }}</p>
        <p>{{ match.venue }}, {{ match.venue_city }} {{ match.venue_country }}</p>
        <img src="{{ url_for('static', filename='images/venue_icons/' + match.venue_id|string + '.png') }}" alt="Picture of {{ match.venue }}" style="vertical-align: middle;">
        
        <h2>Current Weather Conditions</h2>
        {% if weather %}
            <p>Conditions: {{ weather.main }}</p>
            <p>Temperature: {{ weather.temp }}°C or {{temp_F}}°F</p>
            <p>Humidity: {{ weather.humidity }}%</p>
            <p>Wind Speed: {{ weather.wind_speed }} Kilometers per hour or {{ wind_speed_mph}} miles per hour</p>
            <p>Heat Index: {{heat_index_F}}°F</p>
        {% else %}
            <p>No weather data available.</p>
        {% endif %}

        <h2>Score</h2>
        {% if match.score %}
            <p>
                <strong>
                    {{ match.home_team.name }} {{ match.score.home }}
                    -
                    {{ match.score.away }} {{ match.away_team.name }}
                </strong>
            </p>
        {% else %}
            <p>After the game, check here for the score.</p>
        {% endif %}

        <hr>

        {% if match.home_team.lineup %}
        <h2>Home Team</h2>
        <p><strong>Team Name:</strong> {{ match.home_team.name }}</p>


            <p><strong>Formation:</strong> {{ match.home_team.lineup.formation }}</p>

            <h3>Home Team Lineup</h3>
            <ul>
                {% for player in match.home_team.lineup.players %}
                    <li>
                        #{{ player.jersey_number }}
                        {{ player.name }}
                        ({{ player.position }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p></p>
        {% endif %}


       {% if match.away_team.lineup %}

        <h2>Away Team</h2>
        <p><strong>Team Name:</strong> {{ match.away_team.name }}</p>

             <p><strong>Formation:</strong> {{ match.away_team.lineup.formation }}</p>

            <h3>Away Team Lineup</h3>
            <ul>
                {% for player in match.away_team.lineup.players %}
                    <li>
                        #{{ player.jersey_number }}
                        {{ player.name }}
                        ({{ player.position }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p></p>
        {% endif %}


        {% include 'footer_nav_bar.html' %}
 
    </body>
</html>